*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 90vh;
      display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

canvas{
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px 4px blueviolet;
}